body {
    background-color: lightblue;
    text-align: center;
    background: url("https://pixabay.com/static/uploads/photo/2016/08/05/11/00/background-1572052_960_720.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: helvetica;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: helvetica;
    font-size: 20px;
}

input {
	border: 0;
	padding: 8px;
	font-size: 14px;
}

input[type="submit"] {
	background: rgb(91, 140, 164);
	color: 	rgb(45, 70, 82);
}

